In [1]:
rows =5
for x in range(1, rows):
    for y in range(1,x+1):
        print("*", end=" ")

* * * * * * * * * *

In [2]:
(512-282)/(47*48+5)

0.1017249004865104

In [3]:
x=512
y=282
z=47*48
q=5
value=x-y
valueb=z+q
valuec=value/valueb
print(valuec)

0.1017249004865104

In [4]:
(512-282)/((47*48)+5)

0.1017249004865104

In [ ]:
number=int(input("Enter a number: "))
square=(number**2)
print("The square of:", number,"is", square, sep=" ")

In [ ]:
number=int(input("Enter a number: "))
square_number=number*number
print("The square of 5 is ",square_number,".", sep="")

In [ ]:
name="      adan kibichii"
print(name.rstrip())

In [ ]:
x=int(input("Enter a number: "))
print(x,2*x,3*x,4*x,5*x, sep="---")

In [3]:
i=1
x=int(input("Enter a number: "))
while i<=5:
    print(x*i,"---",end=" ")
    i=(i+1)

Enter a number: 5
5 --- 10 --- 15 --- 20 --- 25 ---

In [ ]:
weight_in_kg=int(input("What is your weight in (kg): "))
weight_in_pounds=weight_in_kg/2.2
print(weight_in_pounds)

In [ ]:
Number1=int(input("Enter a number: "))
Number2=int(input("Enter a number: "))
Number3=int(input("Enter a number: "))
Total=Number1+Number2+Number3
Average=(Number1+Number2+Number3)/3
print(Total)
print(Average)

In [6]:
price=int(input("What is the price of the meal: "))
tip=int(input("Percentage tip? "))
total=(price+((tip*price)/100))
print(tip)
print(total)

What is the price of the meal: 100
Percentage tip? 20
20
120.0

In [7]:
for i in range(5):
    print("*"*(i+1))

*
**
***
****
*****

In [8]:
for i in range(100):
    print("Adan")

Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan
Adan

In [ ]:
i=1
while i<=100:
    print("Adan")
    i=i+1

In [ ]:
i=1
while i<=100:
    print("Adan")
    i=i+1

In [ ]:
i=1
while i<=100:
    print("Adan")
    i=i+1

In [ ]:
i=1
while i<=25:
    print("Adan  "*50)
    i=i+1

In [ ]:
i=1
while i<=100:
    print(i, "ADAN")
    i=i+1

In [9]:
i=1
while i<=20:
    print(i,i**2, sep="---")
    i=i+1

1---1
2---4
3---9
4---16
5---25
6---36
7---49
8---64
9---81
10---100
11---121
12---144
13---169
14---196
15---225
16---256
17---289
18---324
19---361
20---400

In [10]:
i=1
while i<=20:
    print(i, "---", i**2)
    i=i+1

1 --- 1
2 --- 4
3 --- 9
4 --- 16
5 --- 25
6 --- 36
7 --- 49
8 --- 64
9 --- 81
10 --- 100
11 --- 121
12 --- 144
13 --- 169
14 --- 196
15 --- 225
16 --- 256
17 --- 289
18 --- 324
19 --- 361
20 --- 400

In [ ]:
8<=i<=90
for x in i:
    
    print(x+3)

In [ ]:
for i in range(8,90,3):
    print(i, end=",")

In [ ]:
for i in range(100,0,-2):
    print(i, end=",")

In [ ]:
for i in range(10):
    print("A",end="")
for j in range(7):
    print("B",end="")
for x in range(4):
    print("CD",end="")
for y in range(1):
    print("EFFFFFFG",end="")

In [ ]:
i=1
while i<=1:
    i<=2
    i<=1
    i<=2
    print("*"*19)
    print("*" "                 "*2)
    print("*" "                 "*2)
    print("*"*19)
    i=i+1

In [ ]:
Name=input("What is your name? ")
Times=int(input("How many times should we print your name? "))
i=1
while i<=Times:
    print(Name, i)
    i=i+1